.header-section {
  background-color: #000;
}

.nav-conteiner {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  max-width: 1700px;
  margin: 0 auto;
  padding-inline: 40px;
  height: 70px;
}

.ul-nav,
.redes-sociais-header {
  display: flex;
  gap: 40px;
}
.ul-nav a {
  color: var(--branco);
}
.redes-sociais-header a {
  height: 32px;
}
.redes-sociais-header img,
.img-bars {
  filter: invert(1);
}

.div-btn-menu-bars {
  opacity: 0;
  display: none;
  cursor: pointer;
}

@media (max-width: 835px) {
  .header-section.ativo {
    height: 320px;
  }
  .div-btn-menu-bars {
    opacity: 1;
    display: block;
  }
  .div-ul,
  .redes-sociais-header {
    display: none;
  }
  .div-ul.ativo {
    display: flex;
    position: absolute;
    top: 70px;
  }
  .ul-nav {
    max-width: max-content;
    flex-direction: column;
    gap: 20px;
  }
  .ul-nav li {
    border-bottom: 1px solid var(--branco);
    padding-bottom: 2px;
  }
  .redes-sociais-header.ativo {
    display: flex;
    position: absolute;
    top: 260px;
  }
}
